---
const platforms = ["github", "instagram"];
const username = "eliasricano";
---

<footer>
    <!-- {
        for (let item of platforms) {
            <p>Learn more about my projects on 
                <a href="{`https://www.${item}.com/${username}`}">Hi</a>!
            </p>
        }
    } -->
</footer>